<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这个页面好像跑丢了...</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/unlock.css">
    <link rel="stylesheet" href="/css/unlock.css">
    <link rel="stylesheet" href="/css/dropify.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/404.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/drag.js"></script>
    <script src="/js/dropify.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav_title" href="/">南阳理工下载中心</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav my_nav navbar-nav">
                <li class="active my_nav_choose"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                <li ><a href="/download/list">  全部资料<span class="sr-only">(current)</span></a></li>
                <li ><a href="/download/upload">上传资料<span class="sr-only">(current)</span></a></li>
                <li ><a href="/download/notice">下载须知<span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="文件名">
                </div>
                <button type="submit" class="btn btn-default">搜索文件</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="open_login">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
                    <div class="dropdown-menu user_msg">
                        <img src="http://phxh0zvpl.bkt.clouddn.com/%E5%88%98%E5%BE%B7%E5%8D%8E.jpg">
                        <div class="user_detail">
                            <p><a href="#" title="点我去个人主页">个人主页</a></p>
                            <span><span class="layui-icon layui-icon-download-circle"></span> 累计下载次数 <span class="operate_time"> 20 </span> 次</span>
                            <span><span class="layui-icon layui-icon-upload-drag"></span> 累计上传次数 <span class="operate_time"> 20 </span> 次</span>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<#include 'loginUI.html'/>
<div class="container">
    <div class="code">
        <p>404</p>
    </div>
    <div class="road">
        <div class="shadow">
            <div class="shelt">
                <div class="head">
                    <div class="eyes">
                        <div class="lefteye">
                            <div class="eyeball"></div>
                            <div class="eyebrow"></div>
                        </div>
                        <div class="righteye">
                            <div class="eyeball"></div>
                            <div class="eyebrow"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hat"></div>
            <div class="bubble">
                <a href="/" style="color:#2F85FC ;font-size: 60px;font-weight: bolder">回家</a>
            </div>
        </div>
        <p>没有找到此网页</p>
    </div>
</div>
</body>
</html>