<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部下载——南工人自己的下载中心</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/unlock.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/list.js"></script>
    <script src="/js/base.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/drag.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav_title" href="/">南阳理工下载中心</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav my_nav navbar-nav">
                <li ><a href="/">首页<span class="sr-only">(current)</span></a></li>
                <li class="active my_nav_choose"><a href="/download/list">全部资料<span class="sr-only">(current)</span></a></li>
                <li ><a href="/download/upload">上传资料<span class="sr-only">(current)</span></a></li>
                <li><a href="/download/notice">下载须知<span class="sr-only">(current)</span></a></li>
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
                <#if login_user??>
                    <li><a href="#"><span class="layui-icon layui-icon-username"></span>${login_user.username}</a></li>
                    <li><a href="#"><span class="layui-icon layui-icon-dialogue"></span>消息(${login_user.isRead})</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
                        <div class="dropdown-menu user_msg">
                            <img src="${login_user.headImg}">
                            <div class="user_detail">
                                <p><a href="/user/mainPage/${login_user.id}" title="点我去个人主页">个人主页</a></p>
                                <span><span class="layui-icon layui-icon-download-circle"></span> 累计下载次数 <span class="operate_time"> ${login_user.downCounts} </span> 次</span>
                                <span><span class="layui-icon layui-icon-upload-drag"></span> 累计上传次数 <span class="operate_time">  ${login_user.uploadCounts} </span> 次</span>
                            </div>

                        </div>
                    </li>
                    <li><a href="/user/loginout"><span class="layui-icon layui-icon-close"></span>退出</a></li>
                    <#else>
                        <li><a href="#" id="open_login"><span class="layui-icon layui-icon-username"></span>登录</a></li>
                </#if>
            </ul>
        </div>
    </div>
</nav>
<div class="container content">

    <div class="download_content">
        <div class="new_content">
            <p class="new_title">全部资料</p>
            <div class="choose_condition">
                <ul class="choose_item">
                    <li id="dwDate"  class="hasCheck">上传时间 <span class="glyphicon glyphicon-arrow-down"> </span></li>
                    <li id="downCounts">下载量 <span class="glyphicon glyphicon-arrow-down"></span></li>
                    <li id="commentCounts">评论量 <span class="glyphicon glyphicon-arrow-down"></span></li>
                    <li id="thumbCounts">点赞数 <span class="glyphicon glyphicon-arrow-down"></span></li>
                </ul>
                <div class="condition_page">
                    <span class="choose_one">共有 <span class="choose_nums">${resultData.totalElements!''}</span>个 可供下载</span>
                    <span class="choose_one"><span class="current_page">${(resultData.number+1)!''}</span>/<span class="all_page">${resultData.totalPages!''}</span></span>
                    <span class="choose_one">
                        <span class="layui-icon layui-icon-left"></span>
                        <input type="tel" value="1" id="page_num">
                        <span title="翻到下一页" class="layui-icon layui-icon-right"></span>
                    </span>
                </div>
            </div>
            <ul class="new_content_ul">
                <#if resultData.content?size gt 0>
                    <#list  resultData.content as downloadOne>
                        <li>
                            <img class="source_img" src="${downloadOne.tUserByUid.headImg!''}">
                            <div class="go_link_div">
                                <a href="/download/detail/${downloadOne.id!''}">去下载</a>
                            </div>
                            <div class="content_detail">
                                <p class="detail_title"><a href="/download/detail/${downloadOne.id!''}">${downloadOne.title!''}</a></p>
                                <span class="pdesc">
                           ${downloadOne.dDesc!''}
                       </span>
                                <p class="content_source">
                                    <span class="source_name">${downloadOne.tUserByUid.username!''}</span>.
                                    <span class="source_name">${downloadOne.dwDate!''}</span>
                                </p>
                            </div>
                        </li>
                    </#list>

                    <#else>
                        <li><img src="/img/null.png"></li>
                </#if>

            </ul>
            <footer class="footer my_footer">
                <p style="text-align: center">Copyright &copy; 2018.南阳理工学院汇森5楼GIS工作室版权 <a style="color:#2f85fc" href="http://www.nyist.edu.cn/" target="_blank" title="南阳理工学院">南阳理工学院</a></p>
            </footer>
        </div>
    </div>
    <div class="aside_content">
        <div class="download_tier">
            <div class="tier_title">下载分类</div>
            <div class="tier_content">
                <ul class="tier_ul">
                    <li class="active_cate" style="background: white;"  id="" title="全部类型"><a  href="#" style="color: rgb(47, 133, 252);">全部类型</a></li>
                    <#list categories as category>
                        <li title="${category.counts!'0'}个" id="${category.id!''}"><a href="#">${category.name!''}</a></li>
                    </#list>
                </ul>
            </div>
        </div>
        <img src="/img/aside.jpg" class="aside_img">
    </div>
</div>
<#include 'loginUI.html'/>
</body>
</html>